<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% stylesheets
            '@bootstrap_css'
            'css/style.css'

            output='css/compiled.css' %}

            <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>

        {% endstylesheets %}

        {% block css %}
        {% endblock %}

        {% javascripts
            '@jquery'
            '@bootstrap_js'

            output='js/compiled.js' %}

            <script src="{{ asset_url }}"></script>

        {% endjavascripts %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block header %}
            <header>
              <div class="collapse bg-dark" id="navbarHeader">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-8 col-md-7 py-4">
                      <h4 class="text-white">About</h4>
                      <p class="text-muted">Information about products you should use and products you should not use.</p>
                    </div>
                    <div class="col-sm-4 offset-md-1 py-4">
                      <h4 class="text-white"></h4>
                      <ul class="list-unstyled">
                        <li><a href="{{ path('admin_logout') }}">Logout</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="navbar navbar-dark bg-dark box-shadow">
                <div class="container d-flex justify-content-between">
                  <a href="#" class="navbar-brand d-flex align-items-center">
                    <strong>Alintiqa</strong>
                  </a>

                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                </div>
              </div>
            </header>
        {% endblock %}

        {% block main_tag_start %}
            <main role="main">
        {% endblock %}

        {% block body %}{% endblock %}

        {% block main_tag_end %}
            </main>
        {% endblock %}

        {% block footer %}
            <footer class="my-5 pt-5 text-muted text-center text-small">
                <p class="mb-1">&copy; 2017-2018 Al Intiqa</p>
            </footer>
        {% endblock %}
    </body>
</html>
