{% extends "base.html.twig" %}
{% block body %}
  <div class="container">
    <div class="row">
     <div class="col-md-8 order-md-1">
       <br/><br/><br/>
        <h4 class="mb-3">Add Product</h4>
       <a href="{{ path('admin_product_list') }}">Go to Product list</a>

        {% if saved %}
         <div class="alert alert-success" role="alert">
           Product updated successfully
         </div>
        {% endif %}

        <form class="needs-validation" novalidate method="post" enctype="multipart/form-data">

          <div class="mb-3">
            <label for="title">Title</label>
              <input type="text" class="form-control" id="title" name="title" placeholder="Title" value="{{ product.title }}" required>
              <div class="invalid-feedback">
                Valid Title is required.
              </div>
          </div>

          <div class="mb-3">
            <label for="lastName">Website URL</label>
              <input type="text" class="form-control" id="Website URL" name="website_url" placeholder="Website URL" value="{{ product.websiteUrl }}" required>
              <div class="invalid-feedback">
                Valid Website URL is required.
              </div>
          </div>

          <div class="mb-3">
            <label for="lastName">Company</label>
              <input type="text" class="form-control" id="Company" name="company" placeholder="Company" value="{{ product.getCompanyName }}" required>
              <div class="invalid-feedback">
                Valid Company is required.
              </div>
          </div>

          <div class="mb-3">
            <label for="lastName">Company</label>
            <input type="text" class="form-control" id="Company" name="company" placeholder="Company" value="{{ product.getCompanyName }}" required>
            <div class="invalid-feedback">
              Valid Company is required.
            </div>
          </div>

          <div class="mb-3">
            <label for="product_image">Image</label>
            <img src="{{ asset(product_image_path) }}" class="img-fluid float-right" style="max-width: 100px;max-height: 100px;"/>
            <input type="file" class="form-control-file" id="product_image" name="product_image" placeholder="Image" required>
            <div class="invalid-feedback">
              Valid Image is required.
            </div>
          </div>

          <div class="mb-3">
            <label for="lastName">Suggestions</label>
            <textarea class="form-control" id="Suggestions" name="suggestions" rows="3" required>{{ product.getSuggestions }}</textarea>
            <div class="invalid-feedback">
              Valid Suggestions are required.
            </div>
          </div>

          <div class="mb-3">
            <label for="country">Country</label>
              <select class="custom-select d-block w-100" id="country" name="country" required>
                <option value="">Choose...</option>
                {% for country_key, country_val in countries %}
                  <option value="{{ country_key }}" {% if product.getCountryCode == country_key %}selected{% endif %}>{{ country_val }}</option>
                {% endfor %}
              </select>
              <div class="invalid-feedback">
                Please select a valid country.
              </div>
          </div>

          <div class="mb-3">
            <label for="country">Product Severity {{ product.getProductSeverityCode }}</label>
              <select class="custom-select d-block w-100" id="product_severity" name="product_severity" required>
                <option value="">Choose...</option>
                {% for severity_key, severity_val in product_severities %}
                  <option value="{{ severity_key }}" {% if product.getProductSeverityCode == severity_key %}selected{% endif %}>{{ severity_val }}</option>
                {% endfor %}
              </select>
              <div class="invalid-feedback">
                Please select a valid country.
              </div>
          </div>
          <hr class="mb-4">
          <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}