{% extends "base.html.twig" %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 order-md-1">
                <br/><br/><br/>
                <div class="col-md-12 pull-left">
                    <h4 class="mb-3 pull-left">Products <a class="btn btn-primary float-right" href="{{ path('admin_product_add') }}" role="button">Add Product</a></h4>
                </div>

                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Website</th>
                        <th scope="col">Country</th>
                        <th scope="col">Company</th>
                        <th scope="col">Product Severity</th>
                        <th scope="col">Edit</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ product.title }}</td>
                            <td>{{ product.websiteUrl }}</td>
                            <td>{{ product.getCountryCode }}</td>
                            <td>{{ product.getCompanyName }}</td>
                            <td>{{ product.productSeverityCode }}</td>
                            <td><a href="{{ path('admin_product_edit', { id: product.firebaseKey }) }}">Edit</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}