{% extends "base.html.twig" %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}" />
{% endblock %}

{% block header %}{% endblock %}

{% block footer %}{% endblock %}

{% block main_tag_start %}{% endblock %}
{% block main_tag_end %}{% endblock %}

{% block body %}
    <form class="form-signin" method="post">
        <div class="text-center mb-4">
            <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Al Intiqa</h1>
            <p>Type email and password to login</p>
        </div>

        {% if error is defined %}
            <div class="alert alert-error" role="alert">
                {{ error }}
            </div>
        {% endif %}

        <div class="form-label-group">
            <input type="text" id="inputUsername" name="username" class="form-control" required autofocus>
            <label for="inputUsername">Username</label>
        </div>

        <div class="form-label-group">
            <input type="password" id="inputPassword" name="password" class="form-control" required>
            <label for="inputPassword">Password</label>
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2018</p>
    </form>

{% endblock %}