{% extends "base.html.twig" %}
{% block body %}
<section class="banner-sec">
	<div class="container">
		<div class="row">
		{% for product in pagination %}

			<div class="col-md-3 col-xs-12">
			    <div class="card">
				{% thumbnail product.productImage, 'front_list' %}
					<div class="card-img-overlay"> <span class="badge badge-pill badge-danger">{{ product.productSeverity }}</span> </div>
					<div class="card-body">
						<div class="news-title">
							<h2 class=" title-small"><a href="{{ path('cms_product_detail', { 'id': product.id }) }}">{{ product.title }}</a></h2>
						</div>
					</div>
                </div>
            </div>
			{% if loop.index % 3 == 0 %}</div><div class="row">{% endif %}

			{% endfor %}
	  </div>
  </div>
</section>


{% endblock %}