{% extends "base.html.twig" %}
{% block header %}
{% endblock %}
{% block body %}

<section class="product_detail">
    <div class="card text-center">
        <div class="text-center">{% thumbnail product.productImage, 'product_detail' %}</div>
        <div class="card-img-overlay"> <span class="badge badge-pill badge-danger">{{ product.productSeverity }}</span> </div>
        <div class="card-body">
            <div class="news-title">
                <h2 class="title-big"><b>Product Name:</b> {{ product.title }}</h2>
                <h2 class="title-big"><b>Company Name:</b> {{ product.companyName }}</h2>
                <h2 class="title-big"><b>Website URL:</b> {{ product.websiteUrl }}</h2>
                <p>
                    <b><span class="text-center">Suggestions</span></b>
                </p>
                <p>
                    {{ product.suggestions }}
                </p>
                {% if product.productSeverity.code == 'redzone' %}
                <p class="redzone">{{ product.productSeverity.name }}</p>
                {% endif %}
            </div>
        </div>
    </div>
</section>

<section class="alternate_products text-center">
    <h3 class='green text-center text-bold'>Alternate Products</h3>
    <div class="alternate_products_list">
        {% for alternate_product in product.alternateProducts %}
        <div class="alternate_product col-md-12 col-xs-12 row card">
            <div class="card-body">
                <div class='col-md-2 col-xs-6 pull-left'>{% thumbnail alternate_product.productImage, 'alternate_product' %}</div>
                <div class='col-md-10 col-xs-6 text-left pull-left'>
                    <div class='col-md-12 col-xs-12 alt-prop'><b>Product Name:</b> {{ product.title }}</div>
                    <div class='col-md-12 col-xs-12 alt-prop'><b>Company Name:</b> {{ product.companyName }}</div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}